{% import '_includes/forms' as forms %}


{{ forms.textField({
    label:'Secret Key',
    name:'secretToken',
    value:settings.secretToken,
    instructions:'Get your secret key from your website page on Citadel.',
    required:true
}) }}


{{ forms.selectField({
    label:'Telemetry Collection Interval',
    name:'telemetryInterval',
    value:settings.telemetryInterval,
    options:{
        '900':'every 15 min',
        '1800':'every 30 min'
    }
}) }}
<div class="field">
    <div class="heading">
        <label>Last request</label>
    </div>
    <div class="input ltr">
        <p>{{ settings.lastBeatTime | date('F jS \\a\\t g:ia') }}</p>
    </div>
</div>


